*.[ao]
*.l[ao]
*.py[co]
.deps/
.libs/
.mypy_cache/
Makefile
Makefile.in
autom4te.cache/
build-aux/
config*.lineno
mo/
/ABOUT-NLS
/ChangeLog
/aclocal.m4
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/doc/build/
/doc/po/*/*/*.mo
/doc/_static/languageLoader.js
/examples/jhbuild.desktop
/gnome-doc-utils.make
/install-sh
/jhbuild.desktop
/jhbuild.desktop.in
/ltmain.sh
/Makefile.inc
/m4/
/missing
/mkinstalldirs
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/remove-potcdate.sed
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/jhbuild.pot
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/po/stamp-po
/doc/pot/.doctrees
/doc/pot/_static
/py-compile
/scripts/jhbuild
/tests/*/aclocal.m4
/tests/*/config.guess
/tests/*/config.log
/tests/*/config.status
/tests/*/config.sub
/tests/*/configure
/tests/*/depcomp
/tests/*/install-sh
/tests/*/missing
/tests/*/xmldocs.make
/tests/autotools/hello
/tests/distutils/build/
/tests/hello/hello
/tests/libhello/libhello.pc
/tests/libhello/libtool
/tests/libhello/ltmain.sh
/xmldocs.make
