*.pyc
ChangeLog
aclocal.m4
autom4te.cache
configure
doc/Makefile.in
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
omf.make
po/Makefile.in.in
xmldocs.make
Makefile.in
config.guess
config.sub
depcomp
tests/autotools/Makefile.in
tests/hello/Makefile.in
