*.[ao]
*.l[ao]
*.pyc
.deps/
.libs/
Makefile
Makefile.in
autom4te.cache/
mo/
/ChangeLog
/aclocal.m4
/config.log
/config.status
/configure
/configure.lineno
/depcomp
/doc/*/.xml2po.mo
/doc/*/jhbuild.xml
/doc/jhbuild-*.omf
/gnome-doc-utils.make
/install-check
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/jhbuild.desktop
/jhbuild.desktop.in
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/jhbuild.pot
/po/stamp-it
/py-compile
/scripts/jhbuild
/tests/*/aclocal.m4
/tests/*/config.guess
/tests/*/config.log
/tests/*/config.status
/tests/*/config.sub
/tests/*/configure
/tests/*/configure.lineno
/tests/*/depcomp
/tests/*/install-sh
/tests/*/missing
/tests/*/omf.make
/tests/*/xmldocs.make
/tests/autotools/hello
/tests/distutils/build/
/tests/hello/hello
/tests/libhello/libhello.pc
/tests/libhello/libtool
/tests/libhello/ltmain.sh
/xmldocs.make
