[Desktop Entry]
Type=Application
Name=Build GNOME Modules
Categories=GNOME;Development;
Icon=applications-development
Terminal=false
StartupNotify=true
