tr.question > td > :first-child, tr.answer > td > :first-child,
tr.qandadiv > td > h4, tr.toc > td > :first-child {
  margin-top: 0em;
}

.variablelist > table td {
  vertical-align: top;
}

.programlisting {
  background: #eeeeff;
  border: solid 1px #aaaaff;
  padding: 0.5em;
}

.screen {
  background: #eeeeee;
  border: solid 1px #aaaaaa;
  padding: 0.5em;
}
